streamlit==1.32.0
fastapi==0.110.0
starlette==0.36.3
uvicorn==0.28.0
requests==2.31.0
python-dotenv==1.0.1
pymongo==4.6.3
web3==6.15.1
web3
gTTS

pytest>=7.0.0
pytest-cov>=4.0.0
eth-typing>=3.0.0,<4.0.0

flake8>=6.0.0

mongomock>=4.0.0
